#helsinki-chat-settings {
    .settings__form {
        ul {
            margin: 0;

            li {
                label {
                    display: inline-block;
                    min-width: 10em;
                }
            }


        }

        .helsinki-chat-settings-chat-pages {
            display: none;
        }

        .components-form-token-field__input-container {
            background-color: #fff;
        }
    }

    .helsinki-chat-settings-section {
        display: none;
    }

    .helsinki-chat-section-chat-general {
        display: block !important;
    }
}