#helsinki-chat-settings {
    .settings__form {
        ul {
            margin: 0;

            li {
                label {
                    display: inline-block;
                    min-width: 10em;
                }
            }


        }
    }
}